<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>下拉框</title>
  </head>

  <body>
   <form  method='post'>
    选择命令
    <select name='commond'>
      <option>请选择命令：</option>
      <option value='ifconfig'>ifconfig</option>
      <option value='ls /tmp'>ls /tmp</option>
      <option value='ls -l'>ls -l</option>
    </select>
    <br/>
    <input type='submit' value='提交' />
  <form>
  </body>
</html>
