<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>Node调用系统命令</title>
  </head>

  <body>
    <form method="post">
      <label>输入系统命令
      <input name="syscomd" type="text"/>

      <input type="submit" value="确定"/>
    </form>
  </body>
</html>


